@import "../partials/theme";
.banner {
  margin: auto;
  position: relative;
  padding-top: 150px;
  padding-bottom: 0;
  overflow: hidden;
  &.only-title {
    .banner-content {
      margin-top: 70px;
      margin-bottom: 160px;
      .info {
        width: 57%;
        margin: 50px auto;
        .title {
          text-align: center;
          text-decoration: underline;
        }
        .banner-date {
          font-size: 18px;
          color: var(--whiteTextColor);
          font-weight: 500;
          text-align: center;
          margin: auto;
        }
      }
      .banner-image {
        display: none;
      }
    }
  }
  .bg-wrapper {
    img {
      background-image: linear-gradient(
        to left,
        var(--primaryColor),
        var(--secondaryColor)
      );
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 96%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 96%);
      max-width: 100%;
      max-height: 100%;
    }
  }
  .banner-content {
    color: $whiteTextColor;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 70px auto;
    .info {
      width: 50%;
      .title {
        font-size: 67px;
        line-height: 1.45em;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .sub-title {
        font-size: 20px;
        line-height: 1.5em;
        margin-bottom: 50px;
        font-weight: 500;
        padding-right: 16%;
      }
      .about-top {
        font-size: 40px;
        line-height: 1.5em;
        font-weight: 700;
        margin-bottom: 0;
        color: #7d9cd1;
      }
      .about-sub-title {
        font-size: 30px;
        line-height: 1.25em;
        margin-bottom: 25px;
        font-weight: 700;
      }
    }
    .banner-image {
      width: 48%;
      text-align: end;
    }
  }

  // Extra large devices (large desktops, 16000px and Down)
  @media (max-width: 1600px) {
    .banner-content {
      .banner-image {
        img {
          height: 475px;
          // object-fit: contain;
        }
      }
    }
  }

  // large devices (desktops, 1440px and Down)
  @media (max-width: 1440px) {
  }

  // Small Desktop devices (Small desktops, 1440px and Down)
  @media (max-width: 1280px) {
    &.only-title {
      .banner-content {
        .info {
          .title {
            margin: 40px auto 100px;
          }
        }
      }
    }
    .banner-content {
      margin-top: 0;
      flex-direction: column;
      .info {
        width: 100%;
        margin-bottom: 30px;
        .title {
          font-size: 50px;
          letter-spacing: -2px;
          margin-bottom: 0;
        }
        .sub-title {
          width: 75%;
          margin: 20px 0;
        }
        .about-sub-title,
        .about-top {
          font-size: 28px;
        }
      }
      .banner-image {
        width: 100%;
      }
    }
    .right {
      margin-right: -50%;
    }
    // }
  }
  // 22,14,20
  // Large tablets (tablets and small desktops, 992px and up)
  @media (max-width: 1199px) {
    .banner-content {
      .info {
        .title {
          letter-spacing: -1px;
        }
        .sub-title {
          width: 90%;
          font-size: 16px;
        }
      }
    }
    &.only-title {
      .banner-content {
        .info {
          margin: auto;
          width: 100%;
        }
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (max-width: 991px) {
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 768px) {
    padding-top: 120px;
    padding-bottom: 0;
    .bg-wrapper {
      img {
        clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 94%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 94%);
      }
    }
    &.only-title {
      .banner-content {
        margin: 10%;
        .info {
          .title {
            font-size: 30px;
            margin: 0;
            margin-bottom: 80px;
          }
          .date {
            font-size: 14px;
          }
        }
      }
    }
    .banner-content {
      .info {
        .title {
          font-size: 35px;
          letter-spacing: -1px;
        }
        .sub-title {
          width: 100%;
          margin: 12px 0;
        }
        .about-sub-title,
        .about-top {
          font-size: 20px;
        }
      }
      .banner-image {
        img {
          height: 280px;
        }
      }
    }
  }

  // Mobile devices (landscape phones, 576px and up)
  @media (max-width: 550px) {
    .banner-content {
      margin-top: 10px;
      margin-bottom: 70px;
      .info {
        .title {
          font-size: 26px;
          letter-spacing: -1px;
        }
        .sub-title {
          width: 100%;
          font-size: 14px;
        }
      }
      .banner-image {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 400px) {
    .banner-content {
      .banner-image {
        &.centered {
          height: 100%;
          width: 100%;
          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}
